name: docker-test
on: [push, pull_request]
jobs:
  docker-cuda-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: docker build cuda
      run: docker build -f Dockerfile . -t anarkiwi/preframr
  docker-xpu-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: docker build xpu
      run: docker build -f Dockerfile.xpu . -t anarkiwi/preframr-xpu
  docker-jetson-test:
    runs-on: ubuntu-latest
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.jetson
          platforms: linux/arm64
          push: false
          tags: anarkiwi/preframr-jetson
          cache-from: type=gha
          cache-to: type=gha,mode=max
