name: docker-test
on: [push, pull_request]
jobs:
  docker-cuda-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: false
        tags: anarkiwi/preframr
        cache-from: type=gha
        cache-to: type=gha,mode=max
  docker-xpu-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: false
        tags: anarkiwi/preframr-xpu
        cache-from: type=gha
        cache-to: type=gha,mode=max
        build-args: |
            BASE=anarkiwi/pytorch-xpu:v2.10.0
  docker-jetson-test:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/arm64
          push: false
          tags: anarkiwi/preframr-jetson
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
              BASE=anarkiwi/jetson-pytorch:v2.10.0
              REQ=jetson-requirements.txt
